.client {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }

  }
  
  .client__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
  
  .client__link {
    display: flex;
    flex-basis: calc((100% - 2*30px))/ 2;
    width: 210px;
    height: 92px;
    border: 1px solid var(--socials-icons-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: border-color var(--transition-fast);

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }

  &:hover,
  &:focus {
    border-color: var(--additional-text-color);
  } 

  &:hover .client__icon,
  &:focus .client__icon {
    fill: var(--additional-text-color);
  }
}
  
  .client__icon {
    fill:var(--socials-icons-color);
    transition: fill var(--transition-fast) 
  }
  
  
  
  