.contact-list {
    display: none;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: auto;
      align-items: flex-start;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      display: flex;
      margin-left: auto;
      gap: 40px;
    }
  }
  
   .contact__link {
    display: flex;
    gap: 10px;
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
    transition: color var(--transition-fast);
  }
  
  .contact__link--change:hover,
  .contact__link--change:focus {
    color: var(--additional-text-color);
  }
  
  .contact__icon--change {
    fill: currentColor;
  }