.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--hero-fon-color);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 480px;
    margin: 0 auto;

    text-align: center;
    text-transform: uppercase;

    //Phone screen
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/_s1xhero.jpg);

    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx){
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/_s2xhero.jpg);
                    }
    //Tablet screen
    @media screen and (min-width: 481px){
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/_m1xhero.jpg);
            
    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/_m2xhero.jpg);
                    }
    }
    
    @media screen and (min-width: 769px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/_l1xhero.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/_l2xhero.jpg);
            }
    }
    
    @media screen and (min-width: 1200px) {
            padding-top: 200px;
            padding-bottom: 200px;
            max-width: 1600px;
            height: 600px;
    }
  }
  
  .hero-text {
    margin-bottom: 30px;;
    color: var(--accent-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;

      @media (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        }
  }
  
  .hero-button {
    padding: 10px 24px;
  }
  