.logo {
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
    color: var(--additional-text-color);
  }
  
  .header__logo {
    margin-right: 93px;
  }
  
  .header__logo--component {
    color: var(--logo-text-color);
  }
  
  .header__logo {
    margin-right: 93px;
  }