.work__container {
    margin-bottom: 87px;
  }
  
  .work__list {
    display: flex;
    flex-basis: calc((100% - 60px) / 3);
    gap: 30px;
  }
  
  .work__item {
    position: relative;
  }
  
  .work__overlay {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    background-color: var(--overley-text-color);
  }
  
  .work__text {
    color: var(--accent-text-color);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.03em;
  }